.menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5rem;
   width: 500px;
   height: 300px;
   border: 2px solid black;

   .options {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6rem;

      button {
         padding: 0.5rem 1rem;
         letter-spacing: 3px;
         border-radius: 12px;
         font-size: 1rem;
         border: 2px solid yellow;
         background-color: rgba(175, 175, 50, 0.877);
      }
   }
}
